h3{
    font-size: 25px !important;
}
.btn-warning:hover{
    background-color:darkred;
}
canvas{
    animation-name: chiraag;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}
@keyframes chiraag{
    from{box-shadow:1px 1px 38px blue;}
    to{box-shadow:1px 1px 38px purple;}
    
}
body{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,255,255,1) 0%, rgba(92,90,229,1) 20%, rgba(101,89,222,1) 31%, rgba(126,86,203,1) 44%, rgba(135,85,196,1) 52%, rgba(164,81,173,1) 63%, rgba(179,79,162,1) 68%, rgba(200,76,146,1) 72%, rgba(212,75,137,1) 78%, rgba(222,74,130,1) 83%, rgba(231,73,123,1) 88%, rgba(239,72,117,1) 92%, rgba(252,70,107,1) 99%);
}
